[include] # include creds, I still need to make this part machine-specific
	path = ~/local_dotfiles/.local_gitconfig
[credential]
	helper = manager-core
[init]
	defaultBranch = master
# my current philosophy is that is it better to keep these all 2 chars
# a single char could get confusing,
# and I don't want to accidentally run `git checkout .` or something like that
[alias]
	aa = add --all
	br = branch
	cm = commit
	cmm = commit -m
	co = checkout
	lg = log --graph --decorate --oneline --all
	mg = merge
	rb = rebase
	st = status
	sw = switch
	F  = pull # think of this like a meta Fetch, which it is
	P  = push
[status]
	showStash = true
[core]
	excludesfile = /Users/donbunk/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	# I don't think I have set this up, TODO
	template = /Users/donbunk/.stCommitMsg
[merge]
	#no fast-forwarding. always create a commit when merging
	ff = no